<div class="container">
    <div class="row">
        <form style ="margin-top=:40px;" action="/home/photo" method="POST"
            enctype="multipart/form-data">
          
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input name="photo_file" type="file" id="exampleInputFile">
          </div>
          
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>